@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@plugin "daisyui";

:root {
  --background: #efefef;
  --foreground: #171717;
  --font-heading: var(--font-outfit);
  --font-body: var(--font-geist);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  overflow: hidden;
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}
