@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@plugin "daisyui";

:root {
  --background: #efefef;
  --foreground: #171717;
  --font-sans: var(--font-outfit);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  height: 100%;
  background: var(--background);
}

body {
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}
